.box_header {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    height: 60px;
}

.optionsOnHeader {
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
}

.options {
    text-decoration: none;
    color: var(--titleWhite);
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

.options:hover {
    border-bottom: 1px solid whitesmoke;
    font-weight: bold;
    cursor: pointer;
}